.idea/
*.iml
target/
out/

#
# вывод fmt:message, ключ для которого приходит в переменной
# PaginatedList должен хранить количество страниц?
# работа с локалями
# как заделать общий шаблон для страниц


# сделать обрамляющий тег
# сетать локаль (можно в теге выше)
# сделать фильтр на /* - статику не фильтрует, для остального припысывает /do/ в урл
# сделать SecurityFilter
# bootstrap webjar org.webjars

