@import url("/webjars/bootstrap/3.3.7/css/bootstrap.css");

body {
    padding-top: 70px;
}

.post-rate {
    display: inline;
    margin-bottom: 0;
}

.post-heading {

}

.post-heading h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 8px;
}

.post-heading a {
    color: white;
}

.dropdown-login {
    padding: 15px;
}